<% include partials/header %>
<h1>All Campgrounds!</h1>
<p><a href = "http://localhost:8000/campgrounds/new">Add new Campground</a></p>
<% campgrounds.forEach(function(campground){ %>
	<h1> <%= campground.name %> </h1>	
	<img src= <%=campground.image %> width=200px>
<% }); %>
<% include partials/footer %>